In [1]:
import pandas as pd
import numpy as np
import csv

from datetime import datetime

In [2]:
df = pd.read_csv('registro_de_eventos_ip.csv')
df.head(5)

,sessao_id,periodo_data_hora,usuario_id,pagina_url,eventos,sessao_duracao
0,23098510-87ea-49af-8514-d2a7b0eac241,2023073123,3c709728-4613-40aa-ad5a-9baf5f5b2eb2,/inicio,2,0.0
1,08410890-9a51-4aa5-bc7c-2f1b97444695,2023073123,3c709728-4613-40aa-ad5a-9baf5f5b2eb2,/inicio,2,11.0
2,cf1f319e-c570-4126-8fed-887689e92f9b,2023073123,3c709728-4613-40aa-ad5a-9baf5f5b2eb2,/lista_nominal_hipertensos,18,754.0
3,f114572a-9d01-42f7-81bb-0ddbb025e2bc,2023073123,3c709728-4613-40aa-ad5a-9baf5f5b2eb2,/lista_nominal_diabeticos,2,0.0
4,16df6222-89d5-4887-b82e-1b4938e47b51,2023073123,3c709728-4613-40aa-ad5a-9baf5f5b2eb2,/lista_nominal_diabeticos,6,121.0

In [3]:
df2 = pd.read_csv('usuarios_cadastrados_ip.csv')
df2.head(5)

,id_usuario,municipio,cargo,criacao_data
0,b7728b2e-f059-4b08-ae33-34216e9203a2,Itabirito - MG,Coordenação APS,2023-06-22
1,20ea9d19-d132-4bc2-baed-4a68aaaa3353,Juquitiba - SP,Coordenação de Equipe,2022-11-08
2,cb58836c-062a-45fe-af65-fd69b272979e,Minaçu - GO,Coordenação de Equipe,2022-11-10
3,a51710c2-0aa2-4e6f-babb-cc67319da274,Juquitiba - SP,Coordenação de Equipe,2022-11-08
4,2c21b434-6e18-409c-a767-fa263c53aa37,Minaçu - GO,Coordenação de Equipe,2022-11-10

In [4]:
df.rename(columns={'usuario_id': 'id_usuario'}, inplace = True)

In [5]:
dataframe = pd.merge(df, df2, on='id_usuario')

In [6]:
dataframe

,sessao_id,periodo_data_hora,id_usuario,pagina_url,eventos,sessao_duracao,municipio,cargo,criacao_data
0,23098510-87ea-49af-8514-d2a7b0eac241,2023073123,3c709728-4613-40aa-ad5a-9baf5f5b2eb2,/inicio,2,0.0,Boa Vista - PB,Coordenação de Equipe,2023-03-03
1,08410890-9a51-4aa5-bc7c-2f1b97444695,2023073123,3c709728-4613-40aa-ad5a-9baf5f5b2eb2,/inicio,2,11.0,Boa Vista - PB,Coordenação de Equipe,2023-03-03
2,cf1f319e-c570-4126-8fed-887689e92f9b,2023073123,3c709728-4613-40aa-ad5a-9baf5f5b2eb2,/lista_nominal_hipertensos,18,754.0,Boa Vista - PB,Coordenação de Equipe,2023-03-03
3,f114572a-9d01-42f7-81bb-0ddbb025e2bc,2023073123,3c709728-4613-40aa-ad5a-9baf5f5b2eb2,/lista_nominal_diabeticos,2,0.0,Boa Vista - PB,Coordenação de Equipe,2023-03-03
4,16df6222-89d5-4887-b82e-1b4938e47b51,2023073123,3c709728-4613-40aa-ad5a-9baf5f5b2eb2,/lista_nominal_diabeticos,6,121.0,Boa Vista - PB,Coordenação de Equipe,2023-03-03
...,...,...,...,...,...,...,...,...,...
43569,0cbfcf22-4eb8-4e6e-a22c-d36d45c3348d,2022112520,c11964a9-0210-4238-88bc-559a95560f1a,/lista_nominal_gestantes,45,34.0,Rio da Conceição - TO,Coordenação APS,2022-11-22
43570,8956140d-6717-43ef-9470-0896538680b7,2022112908,bf7b39e9-cb6b-4b28-b76e-7895caeceb2b,/lista_nominal_gestantes,6,3.0,Guapó - GO,Coordenação de Equipe,2022-11-10
43571,e90147c8-29fb-4e2c-bed9-192b263ec678,2022112908,97a48ad8-d0e6-437e-b448-45b4cde00d06,/lista_nominal_gestantes,7,9.0,Xapuri - AC,Coordenação de Equipe,2022-11-22
43572,e80412e7-e1f7-4c50-b84e-ca6509288d34,2022112908,4d525d4d-7584-43d8-aad4-94b0cfeb6c06,/lista_nominal_gestantes,8,7.0,Xapuri - AC,Coordenação de Equipe,2022-11-22
43573,e73f59ee-3eca-4885-b41b-dc4f77c72ead,2022112908,299e9958-9ce8-4956-99ee-9869f2d97c46,/lista_nominal_gestantes,7,21.0,Xapuri - AC,Coordenação de Equipe,2022-11-22

In [7]:
tipo_de_dado = dataframe['periodo_data_hora'].dtype
tipo_de_dado

dtype('int64')

In [8]:
dataframe['periodo_data_hora'] = pd.to_datetime(dataframe['periodo_data_hora'], unit='s')
dataframe

,sessao_id,periodo_data_hora,id_usuario,pagina_url,eventos,sessao_duracao,municipio,cargo,criacao_data
0,23098510-87ea-49af-8514-d2a7b0eac241,2034-02-09 04:45:23,3c709728-4613-40aa-ad5a-9baf5f5b2eb2,/inicio,2,0.0,Boa Vista - PB,Coordenação de Equipe,2023-03-03
1,08410890-9a51-4aa5-bc7c-2f1b97444695,2034-02-09 04:45:23,3c709728-4613-40aa-ad5a-9baf5f5b2eb2,/inicio,2,11.0,Boa Vista - PB,Coordenação de Equipe,2023-03-03
2,cf1f319e-c570-4126-8fed-887689e92f9b,2034-02-09 04:45:23,3c709728-4613-40aa-ad5a-9baf5f5b2eb2,/lista_nominal_hipertensos,18,754.0,Boa Vista - PB,Coordenação de Equipe,2023-03-03
3,f114572a-9d01-42f7-81bb-0ddbb025e2bc,2034-02-09 04:45:23,3c709728-4613-40aa-ad5a-9baf5f5b2eb2,/lista_nominal_diabeticos,2,0.0,Boa Vista - PB,Coordenação de Equipe,2023-03-03
4,16df6222-89d5-4887-b82e-1b4938e47b51,2034-02-09 04:45:23,3c709728-4613-40aa-ad5a-9baf5f5b2eb2,/lista_nominal_diabeticos,6,121.0,Boa Vista - PB,Coordenação de Equipe,2023-03-03
...,...,...,...,...,...,...,...,...,...
43569,0cbfcf22-4eb8-4e6e-a22c-d36d45c3348d,2034-01-29 01:55:20,c11964a9-0210-4238-88bc-559a95560f1a,/lista_nominal_gestantes,45,34.0,Rio da Conceição - TO,Coordenação APS,2022-11-22
43570,8956140d-6717-43ef-9470-0896538680b7,2034-01-29 02:01:48,bf7b39e9-cb6b-4b28-b76e-7895caeceb2b,/lista_nominal_gestantes,6,3.0,Guapó - GO,Coordenação de Equipe,2022-11-10
43571,e90147c8-29fb-4e2c-bed9-192b263ec678,2034-01-29 02:01:48,97a48ad8-d0e6-437e-b448-45b4cde00d06,/lista_nominal_gestantes,7,9.0,Xapuri - AC,Coordenação de Equipe,2022-11-22
43572,e80412e7-e1f7-4c50-b84e-ca6509288d34,2034-01-29 02:01:48,4d525d4d-7584-43d8-aad4-94b0cfeb6c06,/lista_nominal_gestantes,8,7.0,Xapuri - AC,Coordenação de Equipe,2022-11-22
43573,e73f59ee-3eca-4885-b41b-dc4f77c72ead,2034-01-29 02:01:48,299e9958-9ce8-4956-99ee-9869f2d97c46,/lista_nominal_gestantes,7,21.0,Xapuri - AC,Coordenação de Equipe,2022-11-22

In [9]:
dataframe['periodo_data_hora'] = pd.to_datetime(dataframe['periodo_data_hora'])
dataframe['criacao_data'] = pd.to_datetime(dataframe['criacao_data'])

dataframe['tempo_para_acesso'] = (dataframe['periodo_data_hora'] - dataframe['criacao_data']).dt.days
dataframe

,sessao_id,periodo_data_hora,id_usuario,pagina_url,eventos,sessao_duracao,municipio,cargo,criacao_data,tempo_para_acesso
0,23098510-87ea-49af-8514-d2a7b0eac241,2034-02-09 04:45:23,3c709728-4613-40aa-ad5a-9baf5f5b2eb2,/inicio,2,0.0,Boa Vista - PB,Coordenação de Equipe,2023-03-03,3996
1,08410890-9a51-4aa5-bc7c-2f1b97444695,2034-02-09 04:45:23,3c709728-4613-40aa-ad5a-9baf5f5b2eb2,/inicio,2,11.0,Boa Vista - PB,Coordenação de Equipe,2023-03-03,3996
2,cf1f319e-c570-4126-8fed-887689e92f9b,2034-02-09 04:45:23,3c709728-4613-40aa-ad5a-9baf5f5b2eb2,/lista_nominal_hipertensos,18,754.0,Boa Vista - PB,Coordenação de Equipe,2023-03-03,3996
3,f114572a-9d01-42f7-81bb-0ddbb025e2bc,2034-02-09 04:45:23,3c709728-4613-40aa-ad5a-9baf5f5b2eb2,/lista_nominal_diabeticos,2,0.0,Boa Vista - PB,Coordenação de Equipe,2023-03-03,3996
4,16df6222-89d5-4887-b82e-1b4938e47b51,2034-02-09 04:45:23,3c709728-4613-40aa-ad5a-9baf5f5b2eb2,/lista_nominal_diabeticos,6,121.0,Boa Vista - PB,Coordenação de Equipe,2023-03-03,3996
...,...,...,...,...,...,...,...,...,...,...
43569,0cbfcf22-4eb8-4e6e-a22c-d36d45c3348d,2034-01-29 01:55:20,c11964a9-0210-4238-88bc-559a95560f1a,/lista_nominal_gestantes,45,34.0,Rio da Conceição - TO,Coordenação APS,2022-11-22,4086
43570,8956140d-6717-43ef-9470-0896538680b7,2034-01-29 02:01:48,bf7b39e9-cb6b-4b28-b76e-7895caeceb2b,/lista_nominal_gestantes,6,3.0,Guapó - GO,Coordenação de Equipe,2022-11-10,4098
43571,e90147c8-29fb-4e2c-bed9-192b263ec678,2034-01-29 02:01:48,97a48ad8-d0e6-437e-b448-45b4cde00d06,/lista_nominal_gestantes,7,9.0,Xapuri - AC,Coordenação de Equipe,2022-11-22,4086
43572,e80412e7-e1f7-4c50-b84e-ca6509288d34,2034-01-29 02:01:48,4d525d4d-7584-43d8-aad4-94b0cfeb6c06,/lista_nominal_gestantes,8,7.0,Xapuri - AC,Coordenação de Equipe,2022-11-22,4086
43573,e73f59ee-3eca-4885-b41b-dc4f77c72ead,2034-01-29 02:01:48,299e9958-9ce8-4956-99ee-9869f2d97c46,/lista_nominal_gestantes,7,21.0,Xapuri - AC,Coordenação de Equipe,2022-11-22,4086

In [16]:
menor_valor_por_id = dataframe.groupby('id_usuario')['tempo_para_acesso'].min()
menor_valor_por_id = menor_valor_por_id.reset_index()
menor_valor_por_id = menor_valor_por_id.sort_values(by='tempo_para_acesso', ascending=True)
menor_valor_por_id

                               id_usuario  tempo_para_acesso
151  730f5592-7164-446e-9eec-2863f5877817               3877
209  939b5c68-0133-4b86-83c1-04682137fa28               3877
124  5aab608d-e9a7-41a5-a942-421dc3de10d3               3877
252  b685baf1-29b5-4653-98a2-564b648243a8               3877
22   0ff08271-c34c-4b71-a5c5-32903079afb0               3886
..                                    ...                ...
299  d55120d0-6922-4566-8ed6-b7baf311c2e7               4100
0    0103a1d1-96c8-4d98-b263-0549294aff13               4100
43   20ea9d19-d132-4bc2-baed-4a68aaaa3353               4110
86   4316262f-04bc-4ba0-a9d2-fcf8330e11ef               4113
187  8556c267-18a7-4ba4-b454-db5659b51fe5               4123

[370 rows x 2 columns]

In [21]:
menores_tempos_por_pagina = dataframe.groupby('pagina_url')['tempo_para_acesso'].min()

In [22]:
menores_tempos_por_pagina = menores_tempos_por_pagina.reset_index()

In [25]:
menores_tempos_por_pagina = menores_tempos_por_pagina.rename(columns={'tempo_para_acesso': 'menor_tempo'})
menores_tempos_por_pagina

                   pagina_url  menor_tempo
0                     /inicio         3877
1   /lista_nominal_diabeticos         3877
2    /lista_nominal_gestantes         3877
3  /lista_nominal_hipertensos         3877
4         /trilha_capacitacao         3901

In [28]:
dados_usuario_criacao = dataframe[['id_usuario', 'criacao_data']]
dados_usuario_criacao

                                 id_usuario criacao_data
0      3c709728-4613-40aa-ad5a-9baf5f5b2eb2   2023-03-03
1      3c709728-4613-40aa-ad5a-9baf5f5b2eb2   2023-03-03
2      3c709728-4613-40aa-ad5a-9baf5f5b2eb2   2023-03-03
3      3c709728-4613-40aa-ad5a-9baf5f5b2eb2   2023-03-03
4      3c709728-4613-40aa-ad5a-9baf5f5b2eb2   2023-03-03
...                                     ...          ...
43569  c11964a9-0210-4238-88bc-559a95560f1a   2022-11-22
43570  bf7b39e9-cb6b-4b28-b76e-7895caeceb2b   2022-11-10
43571  97a48ad8-d0e6-437e-b448-45b4cde00d06   2022-11-22
43572  4d525d4d-7584-43d8-aad4-94b0cfeb6c06   2022-11-22
43573  299e9958-9ce8-4956-99ee-9869f2d97c46   2022-11-22

[43574 rows x 2 columns]

Item 2

In [40]:
dados_agrupados = dataframe.groupby(dataframe['criacao_data'].dt.date)['id_usuario'].count().reset_index()
dados_agrupados = dados_agrupados.rename(columns={'criacao_data': 'Data_Criacao', 'id_usuario': 'Quantidade_Criados'})
dados_agrupados['Data_Criacao'] = pd.to_datetime(dados_agrupados['Data_Criacao'], format='%Y-%m-%d')
dados_agrupados['Data_Criacao'] = dados_agrupados['Data_Criacao'].dt.strftime('%d/%m/%Y')
dados_agrupados

   Data_Criacao  Quantidade_Criados
0    26/10/2022                 872
1    08/11/2022                3234
2    10/11/2022                6381
3    22/11/2022                1509
4    23/11/2022                1317
5    25/11/2022                 276
6    07/12/2022                1484
7    08/12/2022                1562
8    20/12/2022                 410
9    08/02/2023                 296
10   09/02/2023                  47
11   17/02/2023                1265
12   03/03/2023                2107
13   06/03/2023                3394
14   09/03/2023                 671
15   16/03/2023               10535
16   22/03/2023                 193
17   23/03/2023                 190
18   04/04/2023                2715
19   12/04/2023                 174
20   24/04/2023                 781
21   25/04/2023                   4
22   09/05/2023                2368
23   10/05/2023                 309
24   12/05/2023                 142
25   22/05/2023                  33
26   25/05/2023                 225
27   05/06/2023                 398
28   06/06/2023                 320
29   20/06/2023                  69
30   21/06/2023                  63
31   30/06/2023                 230